:root{
    --primary-color: #3D2600;
    --secondary-color: #130b01;
    --accent1-color: #3A1A03;
    --accent2-color: #502201;
    --text-color: black; 
    ---link--color: lightblue ; 
    --link--hover : blue ;
    --bacground--color: white; 
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: beige;
    color: var(--text-color);
    margin: 0 ;
    padding: 0;
}
h1, h2 {
    color:var(--secondary-color);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
h1{
    position: absolute;
}
article{
    position: absolute;
    background-color: var(--bacground--color);
}
article img {
    float: right;
    margin-left: 20px; /* Space between the image and the text */
    width: 40%; /* Adjust size of the image */
    border-radius: 8px; /* Optional: rounded corners for the image */
}
p{
    font-size: 1.2em;
    line-height: 1.5;
    color:var(--text-color);
    margin-bottom: 15px;
}
a{
    color:var(---link--color);
    text-decoration: none;
}
a:hover {
    color: var(--link--hover);
    text-decoration: underline;
}
.sociallinks img {
    text-decoration: none;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}